<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SharpENDEC.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Soft_Weather_Radio.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
    <userSettings>
        <SharpENDEC.Properties.Settings>
            <setting name="statusTest" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="statusActual" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="messageTypeAlert" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="messageTypeUpdate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="messageTypeCancel" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="messageTypeTest" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="severityExtreme" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="severitySevere" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="severityModerate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="severityMinor" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="severityUnknown" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="urgencyImmediate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="urgencyExpected" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="urgencyFuture" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="urgencyPast" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AllowedLocations_Geocodes" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
                </value>
            </setting>
            <setting name="CurrentLanguage" serializeAs="String">
                <value>english</value>
            </setting>
            <setting name="SoundDevice" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="SpeechVoice" serializeAs="String">
                <value>Ava</value>
            </setting>
            <setting name="WirelessAlertMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WirelessAlertModeSpeech" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CanadianServers" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string>streaming1.naad-adna.pelmorex.com</string>
                        <string>streaming2.naad-adna.pelmorex.com</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="EnforceMaximumTime" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="EnforceEventBlacklist" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
                </value>
            </setting>
        </SharpENDEC.Properties.Settings>
        <Soft_Weather_Radio.Properties.Settings>
            <setting name="statusTest" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="statusActual" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="messageTypeAlert" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="messageTypeUpdate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="messageTypeCancel" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="messageTypeTest" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="severityExtreme" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="severitySevere" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="severityModerate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="severityMinor" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="severityUnknown" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="urgencyImmediate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="urgencyExpected" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="urgencyFuture" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="urgencyPast" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AllowedLocations_Geocodes" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
                </value>
            </setting>
            <setting name="AllowedLocations_CLC" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
                </value>
            </setting>
            <setting name="UseFrench" serializeAs="String">
                <value>False</value>
            </setting>
        </Soft_Weather_Radio.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.1.0" newVersion="6.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Win32.Registry" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.0" newVersion="4.0.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.5.0" newVersion="4.1.5.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
